.places {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.places h1 {
  width: 100%;
  font-size: 30px;
}

article {
  width: 390px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ff5a5f;
  border-radius: 4px;
  position: relative;
  z-index: -1;
}

article h2 {
  font-size: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.price_by_night {
  height: 60px;
  min-width: 60px;
  font-size: 30px;
  color: #ff5a5f;
  border: 4px solid #ff5a5f;
  border-radius: 100%;
  position: absolute;
  right: 5%;
  top: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3rem;
}

.information {
  height: 80px;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.information > * {
  width: 100px;
  background-repeat: no-repeat;
  background-position: center;
  line-height: 10;
  text-align: center;
}

.max_guest {
  background-image: url(../images/people.png);
}

.number_bathrooms {
  background-image: url(../images/bed.png);
}
.number_rooms {
  background-image: url(../images/bathroom.png);
}
